

:root {
/* color */

--color-naver: #0eae44;
--color-facebook: #3b5998;
--color-netflix: #d61319;
--color-kakao: #fee101;

--main-color: black;
--second-color: white;

--color-red: #e01541;
--color-blue: #446df6;
--color-green: #33ca7f;

--color-white: #ffffff;
--color-light-white: #f3f3f3;
--color-light2-white: #eeeeee;
--color-dark-white: #bdbdbd;

--color-black: #000000;
--color-grey: #616161;
--color-dark-grey: #4d4d4d;
--color-light-grey: #7c7979;

--shadow: rgba(8, 47, 102, 0.12);

/* color sample
    background-color: gainsboro;
    background-color: ghostwhite;
    background-color: aliceblue;
*/

/* size */
--base: 1rem;
--sm: calc(var(--base) * 1.5);
--med: calc(var(--base) * 3);
--large: calc(var(--base) * 5);

/* border-radius :basic 4px=0.5rem  */
--border-radius-4px: 0.5rem;

/* Animation :basic 300ms=0.3s  */
--animation_basic-duration-300ms: 300ms;

/* letterspacing : basic 0.1rem */
--letterspacing-basic: 0.1rem;
}
/*  */
* {
box-sizing: border-box;
}

html{
margin: 0;
}

body {
font-family: "Loved by the King", cursive;
margin: 0;
height: 100vh;
}

.container{

    height: 100vh;

    background: url(./img/love_back-2.gif);
    background-size: contain;

    display: grid;
    grid-template-areas:
     "grid_a grid_a grid_a  ";
}

.card_wrap {
width: 100px;
height: 150px;

border-radius: 0.5em;
/* background: #fff000; */
perspective: 500px;
}

.card-side {
width: 200px;
height: 300px;

position: absolute;
left: 50%;
top: 50%;

display: flex;
align-items: center;
justify-content: center;    

border-radius: 0.5em;
font-size: 2rem;
font-weight: 1000;
color: var(--color-light-white);

-webkit-backface-visibility: hidden;   /* 🦄 */
backface-visibility: hidden;   /* 🦄 */

transition: 1s;
}
.card-side-front {
z-index: 1;
background: hotpink;
}
.card-side-back {
background: lightpink;
transform: rotateY(180deg);
}
.card_wrap:hover .card-side-front {
transform: rotateY(180deg);
}
.card_wrap:hover .card-side-back {
transform: rotateY(360deg);
}

/* @ 768px */
@media (max-width: 768px) {
    :root {
    }
  
    .card-side {
        width: 80px;
        height: 130px;

        font-size: 1.5rem;
    }
  }